html, body, #app {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

hr {
    border: .025em solid $black;
    box-shadow: none;
}

@import 'container';
@import 'site-header';
@import 'nav-overlay';
@import 'site-nav';
@import 'about';
@import 'review-listing';
@import 'review';