.review {
    .review-header {
        text-align: center;
        margin-bottom: 2em;
        .review-title {
            font-style: italic;
            font-size: 1.5em;
            margin: 0;
        }

        .review-date {
            display: block;
            font-style: italic;
            color: $light-grey;
        }
    }
}